In [3]:
import pandas as pd
import numpy as np
wavel_df = pd.read_pickle('wavel_df.pkl')
inten_df = pd.read_pickle('inten_fin.pkl')

wavel_array = wavel_df.iloc[:, 0].values
inten_array = inten_df.iloc[:, 0:].values

RGB_df = pd.read_pickle('RGB_fin.pkl')
xy_pos_df = pd.read_pickle('xy_pos_df.pkl')

R_array = RGB_df.iloc[:,0].values
G_array = RGB_df.iloc[:,1].values
B_array = RGB_df.iloc[:,2].values
R = R_array.reshape(492,260)
G = G_array.reshape(492,260)
B = B_array.reshape(492,260)
img = np.empty((492,260,3), dtype=np.uint8)
img[:,:,0] = R
img[:,:,1] = G
img[:,:,2] = B

,0,1,2,3,4,5,6,7,8,9,...,3638,3639,3640,3641,3642,3643,3644,3645,3646,3647
0,0.000729,-3.736529e-04,-0.000047,-0.000794,0.000276,-0.000635,0.000316,0.000076,-0.000455,-0.000696,...,-0.000321,0.000133,-0.000047,0.000149,-0.001019,0.000157,-0.001043,-0.000725,-0.000623,0.000231
1,0.000144,1.809886e-04,-0.000166,-0.000456,0.000724,-0.000280,0.000156,-0.000517,0.000851,-0.000382,...,-0.000350,0.000357,-0.000174,-0.000003,-0.000534,0.000161,-0.000848,0.000083,-0.000570,-0.000334
2,0.000615,1.006517e-04,0.000489,-0.000001,0.000268,-0.000520,0.000640,0.000027,0.000203,-0.000067,...,-0.000136,0.000252,-0.000250,-0.000320,-0.000438,-0.000169,-0.000834,-0.000079,-0.000704,-0.000067
3,0.000263,-3.572444e-04,0.000357,-0.000002,0.000786,-0.000263,0.000202,-0.000590,0.000782,-0.000370,...,-0.000231,0.000116,-0.000398,0.000071,-0.001019,-0.000811,-0.000802,-0.001354,-0.000267,-0.000121
4,0.000775,-7.927251e-04,0.000346,-0.000254,-0.000205,0.000105,0.000232,-0.000356,0.000171,-0.000650,...,-0.000417,0.000097,-0.000270,-0.000274,-0.000936,-0.000168,-0.000409,-0.000319,-0.000658,-0.000372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68116,0.000369,-5.541484e-04,-0.000007,0.000271,-0.000048,0.000116,0.000263,-0.000088,-0.000117,-0.000591,...,-0.000942,0.001043,-0.000387,-0.000068,-0.000926,-0.000472,-0.000587,0.000210,-0.000624,0.000144
68117,0.000692,-3.005063e-04,0.000741,-0.000284,0.000067,0.000373,0.000390,-0.000472,0.000181,-0.000933,...,-0.000925,0.000659,-0.000137,0.000757,-0.000607,-0.000121,0.000002,0.000635,-0.000721,0.000247
68118,0.001171,-1.442506e-04,0.000525,-0.000569,0.000329,0.000374,0.000909,-0.000267,0.000913,-0.000357,...,-0.000173,0.000195,0.000011,0.000334,-0.000545,-0.000263,0.000035,0.000056,-0.000238,0.000456
68119,-0.000257,-3.138681e-04,-0.000077,-0.000641,0.000458,-0.000387,0.000246,-0.000428,-0.000632,-0.000641,...,-0.000583,-0.000110,-0.000404,-0.000024,-0.000800,-0.000142,-0.000473,-0.000077,-0.001360,0.000111
68120,0.000270,7.490139e-07,0.000482,0.000209,0.000254,-0.000583,0.000205,-0.000400,0.000805,-0.000338,...,0.000184,0.000336,-0.000424,0.000568,-0.000988,0.000278,-0.000779,0.000168,-0.000669,0.000221

In [13]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3']},
                   index=[0, 1, 2, 3])
df1

    A
0  A0
1  A1
2  A2
3  A3

In [12]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7']}, index=[0,1, 2, 3])
df4

    B
0  B2
1  B3
2  B6
3  B7

In [14]:
result = pd.concat([df1, df4], axis=1, sort=False)
result

    A   B
0  A0  B2
1  A1  B3
2  A2  B6
3  A3  B7